openapi: 3.1.0
info:
  title: Custorian API Specification (CAS)
  description: |
    The Custorian API Specification (CAS) is the technical layer of the Custorian Controls Framework (CCF).
    Platforms implement this API to achieve Custorian compliance. Parental apps, auditors, and researchers consume it.

    **Architecture:** On-device first. The detection engine runs locally. This API defines the interface
    between the on-device engine and platform/institutional consumers.

    **Normative basis:** IEEE P3462 (Safety by Design for GenAI), EU DSA Article 28, EU AI Act.
    **Modelled on:** PCI DSS PA-DSS, EPEAT registry protocols.

    **License:** MIT
    **Standard:** Custorian Controls Framework v0.1
  version: 1.0.0-draft
  contact:
    name: Custorian
    url: https://custorian.org
    email: tanya@custorian.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.custorian.org/v1
    description: Production (future)
  - url: http://localhost:3000/v1
    description: Local development

tags:
  - name: Detection
    description: Real-time child safety threat analysis (CS-MR.1)
  - name: Alerts
    description: Parent/guardian alert management (CS-PR.1)
  - name: Controls
    description: Parental safety controls (CS-PR.2)
  - name: Age
    description: Age verification and determination (CS-AC.1)
  - name: Accuracy
    description: Detection accuracy transparency (CS-MR.3)
  - name: Report
    description: Mandatory reporting for CSAM and imminent danger (CS-MR.4)
  - name: Audit
    description: Compliance verification for QSAs (CS-GO)

paths:
  /detect:
    post:
      tags: [Detection]
      operationId: detectThreats
      summary: Analyse content for child safety threats
      description: |
        Submit text content for real-time threat analysis. Returns threat categories,
        confidence scores, triggered patterns, and recommended actions.

        **On-device:** In the reference implementation, this runs locally.
        **API mode:** Platforms can call this endpoint for server-side detection.

        Maps to controls: CS-MR.1.1 through CS-MR.1.5, CS-CD.1.1 through CS-CD.1.8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content, content_type]
              properties:
                content:
                  type: string
                  description: Text content to analyse
                  example: "hey how old are you? you look really mature for your age"
                content_type:
                  type: string
                  enum: [text, image_hash, url]
                  description: Type of content being submitted
                language:
                  type: string
                  description: ISO 639-1 language code. Auto-detected if omitted.
                  example: "en"
                context:
                  type: object
                  properties:
                    source_app:
                      type: string
                      example: "discord"
                    contact_known:
                      type: boolean
                      description: Whether the contact is in the child's approved list
                    conversation_history_length:
                      type: integer
                      description: Number of prior messages in this conversation
                minor_age_bracket:
                  type: string
                  enum: ["8-10", "11-13", "14-16", "17+"]
                  description: Age bracket of the minor (affects thresholds)
      responses:
        "200":
          description: Threat assessment result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThreatAssessment"
              example:
                threat_assessment:
                  overall_risk: "high"
                  categories:
                    - category: "grooming"
                      confidence: 0.92
                      triggered_patterns: ["age_probing", "flattery"]
                      explanation: "Adult contact exhibiting grooming approach patterns"
                  recommended_action: "alert_parent"
                  mandatory_report: false
                processing:
                  on_device: true
                  latency_ms: 45
                  language_detected: "en"
                  engine_version: "1.0.0"

  /alerts:
    get:
      tags: [Alerts]
      operationId: getAlerts
      summary: Retrieve safety alerts for parental review
      description: |
        Returns alerts generated by the detection engine. Alerts are delivered
        within 5 minutes of detection. Parent reviews via PIN-protected dashboard.

        Maps to controls: CS-PR.1.1, CS-PR.1.2
      parameters:
        - name: since
          in: query
          schema:
            type: string
            format: date-time
          description: Return alerts after this timestamp
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: category
          in: query
          schema:
            type: string
            enum: [grooming, bullying, selfHarm, violence, contentWellness]
        - name: reviewed
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: List of alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Alert"
                  unreviewed_count:
                    type: integer

  /alerts/{alert_id}:
    patch:
      tags: [Alerts]
      operationId: updateAlert
      summary: Mark alert as reviewed or take action
      parameters:
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reviewed:
                  type: boolean
                action_taken:
                  type: string
                  enum: [acknowledged, contacted_child, reported_to_platform, reported_to_authorities]
      responses:
        "200":
          description: Alert updated

  /controls:
    get:
      tags: [Controls]
      operationId: getControls
      summary: Get current parental control settings
      description: |
        Returns the active parental controls for a minor. Age-graduated defaults
        are applied automatically based on verified age bracket.

        Maps to controls: CS-PR.2.1 through CS-PR.2.5
      responses:
        "200":
          description: Current control settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Controls"
    put:
      tags: [Controls]
      operationId: updateControls
      summary: Update parental control settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Controls"
      responses:
        "200":
          description: Controls updated

  /age/verify:
    post:
      tags: [Age]
      operationId: verifyAge
      summary: Verify a user's age
      description: |
        Multi-signal age verification. Supports parent attestation, device family
        account verification, school deployment brackets, and EU Digital Identity
        Wallet (eIDAS 2.0) when available.

        No face scans. No ID uploads. No biometrics stored.

        Maps to controls: CS-AC.1.1 through CS-AC.1.5
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [method]
              properties:
                method:
                  type: string
                  enum: [parent_attestation, device_family_account, school_deployment, eu_wallet]
                age:
                  type: integer
                  description: Exact age (for parent attestation)
                age_bracket:
                  type: string
                  enum: ["8-10", "11-13", "14-16", "17+"]
                  description: Age bracket (for school deployment)
                eu_wallet_credential:
                  type: string
                  description: Signed age credential from EU Digital Identity Wallet (future)
      responses:
        "200":
          description: Age verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    enum: [verified, unverified, pending]
                  age_bracket:
                    type: string
                  confidence:
                    type: string
                    enum: [high, medium, low]
                  source:
                    type: string
                  evidence_retained:
                    type: boolean
                    description: Always false — age evidence is never stored
                    example: false

  /accuracy:
    get:
      tags: [Accuracy]
      operationId: getAccuracy
      summary: Published detection accuracy metrics
      description: |
        Returns detection accuracy (precision, recall, F1) by category and language.
        Published quarterly. Independently validated.

        Precision ≥85%, recall ≥75% required for Custorian compliance.

        Maps to controls: CS-MR.3.1 through CS-MR.3.5
      parameters:
        - name: period
          in: query
          schema:
            type: string
          description: "Quarter (e.g. 2026-Q2)"
        - name: language
          in: query
          schema:
            type: string
          description: ISO 639-1 language code
      responses:
        "200":
          description: Accuracy metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: string
                  validated_by:
                    type: string
                    description: Independent validation partner
                  categories:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        precision:
                          type: number
                        recall:
                          type: number
                        f1:
                          type: number
                  languages:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        status:
                          type: string
                          enum: [validated, in_validation, planned]
                        precision:
                          type: number
                        recall:
                          type: number

  /report:
    post:
      tags: [Report]
      operationId: submitReport
      summary: Submit mandatory report for CSAM or imminent danger
      description: |
        Critical threats must be reported to law enforcement within 1 hour.
        CSAM reports go to NCMEC CyberTipline. Imminent violence goes to local police.

        Maps to controls: CS-MR.4.1 through CS-MR.4.3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [report_type, severity]
              properties:
                report_type:
                  type: string
                  enum: [csam, imminent_violence, imminent_self_harm, exploitation]
                severity:
                  type: string
                  enum: [critical, high]
                jurisdiction:
                  type: string
                  description: ISO 3166-1 alpha-2 country code
                  example: "DK"
                reporting_destination:
                  type: string
                  enum: [ncmec, local_police, national_hotline, platform]
                evidence_hash:
                  type: string
                  description: SHA-256 hash of evidence (never the content itself)
      responses:
        "201":
          description: Report submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_id:
                    type: string
                  status:
                    type: string
                    enum: [submitted, acknowledged, under_review]
                  destination:
                    type: string
                  submitted_at:
                    type: string
                    format: date-time

  /audit:
    get:
      tags: [Audit]
      operationId: getAuditTrail
      summary: Compliance audit trail for QSAs
      description: |
        Full audit trail for Qualified Safety Assessors. Includes detection events,
        response times, accuracy metrics, and compliance status.

        QSA access only — requires assessor credentials.

        Maps to controls: CS-GO.3.1, CS-MR.2.4
      parameters:
        - name: period
          in: query
          required: true
          schema:
            type: string
        - name: domain
          in: query
          schema:
            type: string
            enum: [CS-AC, CS-CD, CS-DM, CS-PR, CS-MR, CS-GO]
      responses:
        "200":
          description: Audit trail
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: string
                  total_events:
                    type: integer
                  compliance_status:
                    type: string
                    enum: [compliant, non_compliant, partially_compliant]
                  domains:
                    type: object

components:
  schemas:
    ThreatAssessment:
      type: object
      properties:
        threat_assessment:
          type: object
          properties:
            overall_risk:
              type: string
              enum: [none, low, medium, high, critical]
            categories:
              type: array
              items:
                type: object
                properties:
                  category:
                    type: string
                    enum: [grooming, bullying, selfHarm, violence, contentWellness, sextortion, radicalisation, dangerousPurchase]
                  confidence:
                    type: number
                    minimum: 0
                    maximum: 1
                  triggered_patterns:
                    type: array
                    items:
                      type: string
                  explanation:
                    type: string
            recommended_action:
              type: string
              enum: [none, nudge_child, alert_parent, restrict_and_notify, mandatory_report]
            mandatory_report:
              type: boolean
        processing:
          type: object
          properties:
            on_device:
              type: boolean
            latency_ms:
              type: integer
            language_detected:
              type: string
            engine_version:
              type: string

    Alert:
      type: object
      properties:
        id:
          type: string
        category:
          type: string
        severity:
          type: string
          enum: [low, medium, high, critical]
        confidence:
          type: number
        summary:
          type: string
          description: Human-readable summary (never raw message content)
        timestamp:
          type: string
          format: date-time
        reviewed:
          type: boolean
        blocked:
          type: boolean
          description: Whether content was blocked (e.g. explicit photo quarantined)

    Controls:
      type: object
      properties:
        screen_time:
          type: object
          properties:
            daily_limit_minutes:
              type: integer
            late_night_cutoff_hour:
              type: integer
        contacts:
          type: object
          properties:
            unknown_contact_policy:
              type: string
              enum: [allow, notify, block]
        monitoring:
          type: object
          properties:
            level:
              type: string
              enum: [off, moderate, strict]
            child_notification:
              type: boolean
              description: Whether the child is notified that monitoring is active
        content_filtering:
          type: object
          properties:
            explicit_content:
              type: string
              enum: [block, blur_and_alert, alert_only]
            violence:
              type: string
              enum: [block, alert_only, allow]

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Parent/platform authentication
    qsaAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: QSA assessor authentication (audit endpoints only)
